.RecentVideos
	margin 0 0 6px 0
	padding 0
	#lastVideos
		// background white
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		li
			display inline-block
			text-decoration none
			a
				display block
				img
					display block
		