.MainSection
	margin 0 0 10px 0
	display block
	.MainSection-container
		background $white
		border-radius 3px
		padding 15px
		.MainSection-title
			margin 0 0 10px 0
		.MainSection-form
			#youtube-url
				display block
				width 100%
				margin-bottom 10px
			#youtube-button
				margin 0 auto
				display block
				

.MainSection-result
	margin 15px 0 0 0
	.Links
		display block
		margin 0 auto
		padding 0
		text-align center
		.Link-option
			display inline-block
			.link
				text-decoration none
				margin 0 5px
	.video-wrapper
		max-width: 640px
		display block
		margin 0 auto 15px auto
	.video		
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;		
		iframe
		object
		embed
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;