/*
	$ stylus -u nib -w -c index.styl --out ../
*/

/*!
 * # Stylus CSS Framework
 */

@import 'nib'

@import 'lib/normalize'
@import 'lib/nprogress'

@import 'base/variables'
@import 'base/mixins'
@import 'base/fonts'
// @import 'base/animations'

@import 'base/base'
@import 'base/headings'
@import 'base/utility'
@import 'layout/index'

@import 'components/buttons'
@import 'components/inputs'
// @import 'components/grid'
// @import 'components/icons'
// @import 'components/panel'
